/*Multiple Element selectors*/
.home, .about, .service{
    width: 100px;
  border: 15px solid blue;
  padding: 20px;
  margin: 15px;
}
h1, h2{ border: 1px solid rosybrown;background-clip: aliceblue; width: 300px;}
/*Descendant Selector*/

/*Child Selector*/
ul >li{
  background-color: chocolate;
  border: 1px solid bisque; width: 200px;
}
/*Ajacent Sibling Selector*/
.home +.about{
  color: white
}
/*Attribute Selector*/
[class="title"]{
  color:forestgreen
}
/*Pseudo class Selector*/
a:link{
  color:darkkhaki
}
a:hover{
  color: aliceblue
}
nav li{
  list-style-type: none;
}
nav{ width: 400px;}